Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
        types: [python]
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: text-unicode-replacement-char

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: forbid-tabs
      - id: remove-tabs
        args: [--whitespaces-count, '2']
      - id: chmod
        args: ['644']
        exclude_types: [shell]
      - id: chmod
        args: ['755']
        types: [shell]
      - id: insert-license
        files: horizon/app/.*\.py$
        exclude: horizon/app/dependencies/stub.py
        args:
          - --license-filepath
          - .spdx-license-header.txt
          - --use-current-year
          - --no-extra-eol

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]

  - repo: https://github.com/pycqa/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args: [--in-place]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --aggregate=file
          - -iii
          - -ll
        require_serial: true

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort

  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.10.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, '2', --offset, '2']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [-w]
        additional_dependencies:
          - tomli

  - repo: https://github.com/sbrunner/hooks
    rev: 0.5.0
    hooks:
      - id: poetry-check
        additional_dependencies:
          - poetry
      - id: poetry-lock
        additional_dependencies:
          - poetry

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        files: ^(horizon)/.*$
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy ./horizon/app --config-file ./pyproject.toml
        language: python
        types: [python]
        require_serial: true
        pass_filenames: false

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

[DOP-11675] - add codeql workflow (#3)
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
Due: none

[DOP-11677] - add workflow for dev release to test.pypi (#7)
  .github/workflows/dev-release.yaml
  README.rst
Due: none

[DOP-11671] - remove .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

[DOP-13095] - update rtd config (add ldap group into dependencies) (#10)
  .readthedocs.yaml
Due: none

[DOP-11538] Update Dockerfile.test
  docker/Dockerfile.test
Due: none

[DOP-13115] - add generating openapi (#11)
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  horizon/backend/export_openapi_schema.py
Due: flake8, mypy

[DOP-11678] - add workflow for publishing package to pypi (#9)
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
Due: none

[DOP-11679] - add 0.0.13 changelog
  docs/changelog/0.0.13.rst
Due: none

[DOP-11679] - add changelog to index
  docs/changelog/index.rst
Due: none

[DOP-11679] - fix docker image badge & bump version
  README.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-11679] Fix badges
  .github/workflows/image-release.yml
  .github/workflows/release.yml
  README.rst
Due: none

[DOP-11679] Fix docker image CI workflow name
  .github/workflows/docker-image.yml
Due: none

[DOP-11679] Fix docker badge
  README.rst
Due: none

[DOP-11595] Fix client documentation
  docs/client/sync.rst
Due: none

[DOP-3161] Fix documentation copyright
  docs/conf.py
  pyproject.toml
Due: mypy

[DOP-11876] - change documentation style to furo
  docs/_templates/versions.html
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy

[DOP-11876] - change documentation style to furo (#13)
  docs/_templates/versions.html
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy

[DOP-11877] - add github automation
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/changelog.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

[DOP-11877] - add github automation (#14)
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/changelog.yml
Due: none

Fix automerge.yml
  .github/workflows/automerge.yml
Due: none

[DOP-13209] Add labels sync workflow
  .github/labels.yml
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
  .github/workflows/repo-labels-sync.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

[DOP-13156] Update CONTRIBUTING docs
  CONTRIBUTING.rst
Due: none

[DOP-13156] Fix Contributing guide
  CONTRIBUTING.rst
Due: none

[DOP-13209] Fix labels
  .github/labels.yml
Due: none

[DOP-11877] Run Dependabot weekly
  .github/dependabot.yml
Due: none

[DOP-13209] Add pre-commit.ci badge to Readme
  README.rst
Due: none

[DOP-13209] Add PyPI badge to Readme
  README.rst
Due: none

[DOP-13219] Improve documentation
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
  docs/backend/configuration/debug.rst
  docs/backend/install.rst
  docs/changelog/next_release/20.improvement.rst
  docs/client/install.rst
  docs/client/sync.rst
  docs/conf.py
  horizon/backend/settings/server/log/__init__.py
  horizon/client/auth/access_token.py
  horizon/client/auth/login_password.py
  horizon/client/sync.py
  horizon/commons/exceptions/auth.py
  horizon/commons/exceptions/entity.py
  horizon/commons/exceptions/service.py
Due: flake8, mypy

[DOP-11877] Check new Dockerhub token
  .github/workflows/docker-image.yml
  .github/workflows/repo-labels-sync.yml
Due: none

[DOP-13260] Automatically update Dockerhub image description
  .github/workflows/docker-image.yml
Due: none

[DOP-13015] - add test for recreating hwm with the same name
  horizon/backend/db/migrations/versions/2024-02-20_92f3992740eb_.py
  tests/test_backend/test_hwm/test_create_hwm.py
Due: flake8, mypy

[DOP-13015] - replace enum with string field
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/migrations/versions/2024-02-22_1470fe0dceb6_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/hwm_history.py
  horizon/backend/db/repositories/hwm_history.py
  tests/factories/hwm_history.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
Due: flake8, mypy

[DOP-13015] - update tests
  tests/factories/hwm.py
  tests/factories/hwm_history.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
Due: mypy

[DOP-13015] - update hwm_history table for crud operations
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/migrations/versions/2024-02-20_92f3992740eb_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/hwm.py
  horizon/backend/db/models/hwm_history.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
Due: flake8, mypy

[DOP-13015] - update hwm_history table
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/migrations/versions/2024-02-22_1470fe0dceb6_.py
  horizon/backend/db/migrations/versions/2024-02-22_c2d6da81f9ec_.py
  horizon/backend/db/models/hwm_history.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
  horizon/commons/schemas/v1/hwm_history.py
  tests/factories/hwm_history.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm_history.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm_history.py
Due: flake8, mypy

[DOP-11877] - implement migration via raw sql
  horizon/backend/db/migrations/versions/2024-02-22_c2d6da81f9ec_.py
  tests/factories/hwm.py
  tests/factories/hwm_history.py
  tests/factories/namespace.py
  tests/test_backend/test_hwm/test_delete_hwm.py
Due: flake8, mypy
