Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy ./horizon/app --config-file ./pyproject.toml
  language: python
  require_serial: true
  pass_filenames: false

[DOP-13015] - update hwm_history table for CRUD operations (#21)
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/migrations/versions/2024-02-22_c2d6da81f9ec_.py
  horizon/backend/db/models/hwm.py
  horizon/backend/db/models/hwm_history.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
  horizon/commons/schemas/v1/hwm_history.py
  tests/factories/hwm.py
  tests/factories/hwm_history.py
  tests/factories/namespace.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm_history.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm_history.py
Due: flake8, mypy

[DOP-13156] Fix documentation build
  .readthedocs.yaml
Due: none

[DOP-13016] - add namespace_history table and its api methods
  docs/changelog/next_release/24.feature.rst
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/namespace_history.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/migrations/versions/2024-02-26_5c7a5c5a193b_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_history.py
  horizon/backend/db/repositories/__init__.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/namespace_history.py
  horizon/backend/services/uow.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/namespace_history.py
  pyproject.toml
  tests/conftest.py
  tests/factories/namespace.py
  tests/factories/namespace_history.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_namespaces/test_create_namespace.py
  tests/test_backend/test_namespaces/test_delete_namespace.py
  tests/test_backend/test_namespaces/test_paginate_namespace.py
  tests/test_backend/test_namespaces/test_paginate_namespace_history.py
  tests/test_backend/test_namespaces/test_update_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace_history.py
Due: flake8, mypy

Update docs/changelog/next_release/24.feature.rst
  docs/changelog/next_release/24.feature.rst
Due: none

[DOP-13016] - add namespace history client docs
  docs/client/schemas/index.rst
  docs/client/schemas/namespace_history.rst
  horizon/backend/db/migrations/versions/2024-02-26_5c7a5c5a193b_.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_get_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

[DOP-13016] - drop 'is_delete' field for User
  docs/client/sync.rst
  horizon/backend/db/migrations/versions/2024-02-27_5c7a5c5a193b_.py
  horizon/backend/db/mixins/deletable.py
  horizon/backend/db/models/user.py
  horizon/backend/db/repositories/user.py
  tests/factories/user.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
Due: flake8, mypy

[DOP-13016] - add migration for user
  horizon/backend/db/migrations/versions/2024-02-27_2452f82ae06c_.py
  horizon/backend/db/migrations/versions/2024-02-27_5c7a5c5a193b_.py
Due: flake8, mypy

[DOP-13016] - add namespace_history table and its api methods (#24)
  docs/changelog/next_release/24.feature.rst
  docs/client/schemas/index.rst
  docs/client/schemas/namespace_history.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/namespace_history.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/migrations/versions/2024-02-27_2452f82ae06c_.py
  horizon/backend/db/migrations/versions/2024-02-27_5c7a5c5a193b_.py
  horizon/backend/db/mixins/deletable.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_history.py
  horizon/backend/db/models/user.py
  horizon/backend/db/repositories/__init__.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/namespace_history.py
  horizon/backend/db/repositories/user.py
  horizon/backend/services/uow.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/namespace_history.py
  pyproject.toml
  tests/conftest.py
  tests/factories/namespace.py
  tests/factories/namespace_history.py
  tests/factories/user.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_get_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace_history.py
Due: flake8, mypy

[DOP-13016] - add namespace_history table and its api methods
  horizon/backend/db/migrations/versions/2024-02-26_5c7a5c5a193b_.py
Due: flake8, mypy

[DOP-13016] - add namespace history client docs
  horizon/backend/db/migrations/versions/2024-02-26_5c7a5c5a193b_.py
Due: flake8, mypy

[DOP-13016] - drop 'is_delete' field for User
  horizon/backend/db/migrations/versions/2024-02-26_5c7a5c5a193b_.py
Due: flake8, mypy

[DOP-13019] - restrict deletion namespaces with hwms
  docs/changelog/next_release/25.feature.rst
  horizon/backend/api/v1/router/namespaces.py
  tests/factories/hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
Due: flake8, mypy

[DOP-13019] - restrict deletion namespaces with hwms (#25)
  docs/changelog/next_release/25.feature.rst
  horizon/backend/api/v1/router/namespaces.py
  tests/factories/hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
Due: flake8, mypy

[DOP-13010] - owner_id to namespace, namespace_history
  horizon/backend/db/migrations/versions/2024-02-29_09be8fd79dbc_.py
  horizon/backend/db/mixins/changed_by.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_history.py
  horizon/backend/db/repositories/namespace.py
  tests/factories/namespace.py
  tests/factories/namespace_history.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_delete_namespace.py
Due: flake8, mypy

[DOP-13010] - add owned_by association
  docs/changelog/next_release/26.feature.rst
  horizon/backend/db/migrations/versions/2024-02-29_09be8fd79dbc_.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_history.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/namespace_history.py
  pyproject.toml
  tests/factories/namespace.py
  tests/factories/namespace_history.py
  tests/factories/user.py
  tests/test_backend/test_namespace/test_get_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_client_sync/test_namespaces/test_client_sync_create_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_get_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace_history.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
Due: flake8, mypy

[DOP-13010] - update migration
  horizon/backend/db/migrations/versions/2024-02-29_09be8fd79dbc_.py
Due: flake8, mypy

[DOP-13010] - add owner_id to namespace, namespace_history (#26)
  docs/changelog/next_release/26.feature.rst
  horizon/backend/db/migrations/versions/2024-02-29_09be8fd79dbc_.py
  horizon/backend/db/mixins/changed_by.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_history.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/namespace_history.py
  pyproject.toml
  tests/factories/namespace.py
  tests/factories/namespace_history.py
  tests/factories/user.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_get_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_client_sync/test_namespaces/test_client_sync_create_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_get_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace_history.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
Due: flake8, mypy

[DOP-13012] - add namespase_user and check of user permissions
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/migrations/versions/2024-03-01_4c60578f3f1d_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_user.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/namespace.py
Due: flake8, mypy

[DOP-13012] - fix tests
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/namespace.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_client_sync/test_hwm/test_client_sync_create_hwm.py
  tests/test_client_sync/test_namespaces/test_client_sync_delete_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
Due: flake8, mypy

[DOP-13012] - add role_mode tests
  docs/changelog/next_release/27.feature.rst
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: mypy

[DOP-13012] - remove hwm.check_user_permission
  docs/changelog/next_release/27.breaking.rst
  docs/conf.py
  horizon/__init__.py
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/namespace.py
  pyproject.toml
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

[DOP-13012] - add permission error and update tests
  horizon/backend/db/repositories/namespace.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/permission_denied.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/exceptions/permission.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_get_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

[DOP-13012] - update tests with missing namespace
  horizon/backend/db/repositories/namespace.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_client_sync/test_hwm/test_client_sync_create_hwm.py
  tests/test_client_sync/test_namespaces/test_client_sync_delete_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
Due: flake8, mypy

[DOP-13012] - update permission docs
  docs/client/exceptions.rst
  horizon/commons/exceptions/permission.py
Due: flake8, mypy

[DOP-13012] - update tests
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/repositories/namespace.py
  horizon/client/sync.py
  horizon/commons/exceptions/permission.py
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

[DOP-13012] - change AUTHORIZED to GUEST
  horizon/backend/db/models/namespace.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/exceptions/permission.py
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

[DOP-13012] - add role model to Horizon (#27)
  docs/changelog/next_release/27.breaking.rst
  docs/client/exceptions.rst
  docs/conf.py
  horizon/__init__.py
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/migrations/versions/2024-03-01_4c60578f3f1d_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_user.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/namespace.py
  horizon/client/sync.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/permission_denied.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/exceptions/permission.py
  pyproject.toml
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_get_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

Collect test coverage for migrations
  pyproject.toml
Due: none

[DOP-13014] - add horizon role model docs
  docs/changelog/next_release/31.feature.rst
  docs/index.rst
  docs/permissions/index.rst
Due: none

[DOP-13014] - move permissions part to high-level design
  README.rst
  docs/design/permissions.rst
  docs/index.rst
Due: none

Update docs/design/permissions.rst
  docs/design/permissions.rst
Due: none

Update README.rst
  README.rst
Due: none

[DOP-13014] - add Horizon role model docs (#31)
  README.rst
  docs/changelog/next_release/31.feature.rst
  docs/design/permissions.rst
  docs/index.rst
Due: none

[DOP-13013] - add getting permissions for namespace
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/permission.py
Due: flake8, mypy

[DOP-13013] - add patching permissions for namespace
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/permission.py
Due: flake8, mypy

[DOP-13013] - add get_permissions tests
  tests/conftest.py
  tests/factories/permissions.py
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_get_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: mypy

[DOP-13013] - separate logic in update_permissions
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/user.py
  horizon/commons/errors/schemas/bad_request.py
  horizon/commons/exceptions/bad_request.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: flake8, mypy

[DOP-13013] - add params to namespace fixture
  tests/factories/permissions.py
Due: mypy

[DOP-13013] - add BadRequest common error
  docs/client/exceptions.rst
  docs/client/schemas/permissions.rst
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/repositories/namespace.py
  horizon/client/sync.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/bad_request.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/exceptions/bad_request.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: flake8, mypy

Path conditions:
  flake8: any of: ^(horizon)/.*$ and \.py$
  mypy: any of: \.py$
