Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy ./horizon/app --config-file ./pyproject.toml
  language: python
  require_serial: true
  pass_filenames: false

[DOP-10626] Improve settings documentation
  .env.docker
  .gitignore
  .gitlab-ci.yml
  docs/backend/auth/index.rst
  docs/backend/configuration/cors.rst
  docs/backend/configuration/database.rst
  docs/backend/configuration/debug.rst
  docs/backend/configuration/index.rst
  docs/backend/configuration/logging.rst
  docs/backend/configuration/monitoring.rst
  docs/backend/install.rst
  docs/backend/settings/auth.rst
  docs/backend/settings/index.rst
  docs/backend/settings/server.rst
  docs/index.rst
  docs/static/metrics.prom
  docs/static/openapi.json
  docs/static/stats.prom
  horizon/backend/__init__.py
  horizon/backend/api/handlers.py
  horizon/backend/middlewares/cors.py
  horizon/backend/middlewares/monitoring/__init__.py
  horizon/backend/middlewares/monitoring/metrics.py
  horizon/backend/middlewares/monitoring/stats.py
  horizon/backend/middlewares/prometheus/__init__.py
  horizon/backend/providers/auth/cached_ldap.py
  horizon/backend/settings/__init__.py
  horizon/backend/settings/auth/__init__.py
  horizon/backend/settings/database.py
  horizon/backend/settings/log/__init__.py
  horizon/backend/settings/log/colored.yml
  horizon/backend/settings/log/json.yml
  horizon/backend/settings/log/plain.yml
  horizon/backend/settings/server.py
  tests/test_backend/test_monitoring/test_stats.py
Due: flake8, mypy

[DOP-11080] Fix pytest marks usage
  .gitlab-ci.yml
  tests/fixtures/sync_client.py
  tests/fixtures/test_app.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_get_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm_history.py
  tests/test_backend/test_hwm/test_write_hwm.py
  tests/test_backend/test_monitoring/test_ping.py
  tests/test_backend/test_monitoring/test_stats.py
  tests/test_backend/test_namespaces/test_create_namespace.py
  tests/test_backend/test_namespaces/test_delete_namespace.py
  tests/test_backend/test_namespaces/test_get_namespace.py
  tests/test_backend/test_namespaces/test_paginage_namespaces.py
  tests/test_backend/test_namespaces/test_update_namespace.py
  tests/test_backend/test_users/test_whoami.py
  tests/test_client/test_auth/test_access_token.py
  tests/test_client_sync/test_auth/test_client_sync_auth.py
  tests/test_client_sync/test_client_sync_ping.py
  tests/test_client_sync/test_hwm/test_client_sync_delete_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_get_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm_history.py
  tests/test_client_sync/test_hwm/test_client_sync_write_hwm.py
  tests/test_client_sync/test_namespaces/test_client_sync_create_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_delete_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_get_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespaces.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
  tests/test_client_sync/test_users/test_client_sync_whoami.py
  tests/test_database/test_migrations.py
Due: mypy

[DOP-10626] Fix generating OpenAPI schema in release CI pipeline
  .gitlab-ci.yml
Due: none

[DOP-10626] Update CI
  .gitlab-ci.yml
Due: none

[DOP-10626] Fix release CI
  .gitlab-ci.yml
Due: none

[DOP-10626] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-10626] Fix Dockerfile
  docker/Dockerfile.backend
  docker/Dockerfile.test
Due: none

[DOP-10626] Replace Gitlab CI stages with needs
  .gitlab-ci.yml
Due: none

[DOP-10626] Fix package name
  docs/backend/install.rst
  docs/client/install.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-10626] Fix package name
  pyproject.toml
Due: none

[DOP-10626] Fix missing port in backend Dockerfile
  docker/Dockerfile.backend
Due: none

[DOP-10626] Bump version
  .gitlab-ci.yml
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-10626] Return 201 instead of 200 in create_hwm endpoint
  horizon/backend/api/v1/router/hwm.py
  tests/test_backend/test_hwm/test_create_hwm.py
Due: flake8, mypy

[DOP-9789] Fix missing dependency of client-sync: python-jose
  poetry.lock
  pyproject.toml
Due: none

[DOP-9789] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-9789] Add note about using jose in client
  horizon/client/auth/access_token.py
Due: flake8, mypy

[DOP-11457] Rename docs/static -> docs/_static
  .gitlab-ci.yml
  docs/_static/metrics.prom
  docs/_static/openapi.json
  docs/_static/redoc.html
  docs/_static/stats.prom
  docs/_static/swagger.html
  docs/backend/configuration/monitoring.rst
  docs/backend/openapi.rst
  docs/conf.py
Due: mypy

[DOP-11457] Update entrypoint to immediately exit if migrations failed
  docker/entrypoint.sh
Due: none

[DOP-11457] Add logo
  README.rst
  docs/_static/custom.css
  docs/_static/icon.svg
  docs/_static/logo.svg
  docs/_static/logo_no_title.svg
  docs/conf.py
  docs/index.rst
  horizon/backend/__init__.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-11457] Fix Dockerfile
  docker/Dockerfile.test
Due: none

[DOP-11598] Allow serving Swagger UI and ReDoc from local files
  .gitlab-ci.yml
  docker/Dockerfile.backend
  docs/_static/redoc.html
  docs/_static/swagger.html
  docs/backend/configuration/cors.rst
  docs/backend/configuration/debug.rst
  docs/backend/configuration/index.rst
  docs/backend/configuration/logging.rst
  docs/backend/configuration/monitoring.rst
  docs/backend/configuration/openapi.rst
  docs/backend/configuration/static_files.rst
  horizon/backend/__init__.py
  horizon/backend/middlewares/__init__.py
  horizon/backend/middlewares/cors.py
  horizon/backend/middlewares/monitoring/__init__.py
  horizon/backend/middlewares/monitoring/metrics.py
  horizon/backend/middlewares/monitoring/stats.py
  horizon/backend/middlewares/openapi.py
  horizon/backend/middlewares/request_id.py
  horizon/backend/middlewares/static_files.py
  horizon/backend/settings/server.py
  horizon/backend/settings/server/__init__.py
  horizon/backend/settings/server/cors.py
  horizon/backend/settings/server/log/__init__.py
  horizon/backend/settings/server/log/colored.yml
  horizon/backend/settings/server/log/json.yml
  horizon/backend/settings/server/log/plain.yml
  horizon/backend/settings/server/monitoring.py
  horizon/backend/settings/server/openapi.py
  horizon/backend/settings/server/request_id.py
  horizon/backend/settings/server/static_files.py
Due: flake8, mypy

[DOP-11598] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-11598] Update pyproject.toml
  pyproject.toml
Due: none

[DOP-11598] Hardcode OpenAPI, documentation and static file endpoints
  horizon/backend/middlewares/openapi.py
  horizon/backend/middlewares/static_files.py
  horizon/backend/settings/server/openapi.py
  horizon/backend/settings/server/static_files.py
Due: flake8, mypy

[DOP-11598] Allow different URLS for listening and fetching OpenAPI.json
  horizon/backend/middlewares/openapi.py
  horizon/backend/settings/server/openapi.py
Due: flake8, mypy

[DOP-11598] Drop Google fonts from ReDoc
  docs/_static/redoc.html
  horizon/backend/middlewares/openapi.py
Due: flake8, mypy

[DOP-11598] Fix missing root_path in OpenAPI schema
  horizon/backend/middlewares/openapi.py
Due: flake8, mypy

[DOP-11598] Drop custom OpenAPI url setting
  horizon/backend/middlewares/openapi.py
  horizon/backend/settings/server/openapi.py
Due: flake8, mypy

[DOP-11598] Conver scope to Enum
  horizon/backend/settings/auth/ldap.py
Due: flake8, mypy

[DOP-11598] Update documentation
  horizon/backend/settings/auth/ldap.py
Due: flake8, mypy

Path conditions:
  flake8: any of: ^(horizon)/.*$ and \.py$
  mypy: any of: \.py$
