Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
        types: [python]
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: text-unicode-replacement-char

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: forbid-tabs
      - id: remove-tabs
        args: [--whitespaces-count, '2']
      - id: chmod
        args: ['644']
        exclude_types: [shell]
      - id: chmod
        args: ['755']
        types: [shell]
      - id: insert-license
        files: horizon/app/.*\.py$
        exclude: horizon/app/dependencies/stub.py
        args:
          - --license-filepath
          - .spdx-license-header.txt
          - --use-current-year
          - --no-extra-eol

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]

  - repo: https://github.com/pycqa/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args: [--in-place]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --aggregate=file
          - -iii
          - -ll
        require_serial: true

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort

  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.10.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, '2', --offset, '2']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [-w]
        additional_dependencies:
          - tomli

  - repo: https://github.com/sbrunner/hooks
    rev: 0.5.0
    hooks:
      - id: poetry-check
        additional_dependencies:
          - poetry
      - id: poetry-lock
        additional_dependencies:
          - poetry

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        files: ^(horizon)/.*$
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy ./horizon/app --config-file ./pyproject.toml
        language: python
        types: [python]
        require_serial: true
        pass_filenames: false

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

[DOP-11538] Test image cache
  .gitlab-ci.yml
Due: none

[DOP-11538] Update Dockerfile.test
  docker/Dockerfile.test
Due: none

[DOP-11671] - remove .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

[DOP-11673] - replace .mts.ru links with mocked once
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
  Makefile
  README.rst
  docker-compose.test.yml
  docker-compose.yml
  docs/conf.py
  docs/index.rst
  horizon/backend/settings/server/openapi.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

Update README.rst
  README.rst
  docs/index.rst
Due: none

[DOP-11673] - replace .mts.ru links with mocked once (#1)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
  Makefile
  README.rst
  docker-compose.test.yml
  docker-compose.yml
  docs/conf.py
  docs/index.rst
  horizon/backend/settings/server/openapi.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-11674] - add .readthedocs.yaml
  .readthedocs.yaml
  docs/index.rst
Due: none

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

[DOP-11674] - add .readthedocs.yaml (#2)
  .readthedocs.yaml
  docs/index.rst
Due: none

[DOP-11675] - add codeql workflow
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
Due: none

[DOP-11675] - add codeql workflow (#3)
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
Due: none

[DOP-11675] - add tests to github workflow
  .github/workflows/test.yml
  docker-compose.test.yml
  docker/Dockerfile.backend
  docker/Dockerfile.test
  horizon/backend/static/.gitkeep
  poetry.lock
  pyproject.toml
Due: none

[DOP-11675] - add codecov.yml and badges
  README.rst
  codecov.yml
Due: none

[DOP-11675] - add tests to github workflow (#5)
  .github/workflows/test.yml
  README.rst
  codecov.yml
  docker-compose.test.yml
  docker/Dockerfile.backend
  docker/Dockerfile.test
  horizon/backend/static/.gitkeep
  poetry.lock
  pyproject.toml
Due: none

[DOP-11675] Fix failing test
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  Makefile
  docker/Dockerfile.test
  poetry.lock
  tests/factories/credentials_cache.py
  tests/factories/hwm.py
  tests/factories/hwm_history.py
  tests/factories/namespace.py
  tests/factories/user.py
Due: mypy

[DOP-11675] Fix failing test (#6)
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  Makefile
  docker/Dockerfile.test
  poetry.lock
  tests/factories/credentials_cache.py
  tests/factories/hwm.py
  tests/factories/hwm_history.py
  tests/factories/namespace.py
  tests/factories/user.py
Due: mypy

[DOP-11677] - add workflow for dev release to test.pypi
  .github/workflows/dev-release.yaml
  README.rst
Due: none

[DOP-11677] - add workflow for dev release to test.pypi (#7)
  .github/workflows/dev-release.yaml
  README.rst
Due: none

[DOP-11678] - add workflow for publishing package to pypi
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
Due: none

[DOP-11678] - add workflow for publishing package to pypi (#9)
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
Due: none

Update .github/workflows/image_release.yml
  .github/workflows/image_release.yml
Due: none

[DOP-11680] - add workflow for docker image release to hub.docker.com/u/mtsrus
  .github/workflows/image_release.yml
Due: none

[DOP-11680] - add workflow for docker image (#8)
  .github/workflows/image_release.yml
Due: none

[DOP-13095] - update rtd config (add ldap group into dependencies)
  .readthedocs.yaml
Due: none

[DOP-13095] - update rtd config (add ldap group into dependencies) (#10)
  .readthedocs.yaml
Due: none

[DOP-11595] Fix client documentation
  docs/client/sync.rst
Due: none

Fix docs examples
  docs/backend/configuration/debug.rst
  horizon/client/sync.py
Due: flake8, mypy

Fix wemake-python-styleguide
  .pre-commit-config.yaml
  horizon/client/base.py
  pyproject.toml
Due: flake8, mypy

[DOP-13115] - add generating openapi
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  horizon/backend/export_openapi_schema.py
Due: flake8, mypy

[DOP-11538] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-11538] Update CI/CD
  .gitlab-ci.yml
Due: none
