Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy ./horizon/app --config-file ./pyproject.toml
  language: python
  require_serial: true
  pass_filenames: false

[DOP-9663] Fix mising Authorize button in Swagger UI
  horizon/dependencies/current_user.py
  horizon/main.py
  horizon/providers/auth/base.py
  horizon/providers/auth/dummy.py
  horizon/settings/auth.py
Due: flake8, mypy

[DOP-9663] Add namespace methods to horizon_client
  horizon/api/v1/router/auth.py
  horizon/api/v1/router/namespaces.py
  horizon_client/client/base.py
  horizon_client/client/sync.py
  horizon_commons/schemas/v1/__init__.py
  horizon_commons/schemas/v1/auth.py
  horizon_commons/schemas/v1/namespace.py
  horizon_commons/schemas/v1/pagination.py
  pyproject.toml
  tests/test_backend/test_namespaces/test_update_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_create_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_delete_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_get_namespaces.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespaces.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
Due: flake8, mypy

[DOP-9664] Add HWM-related methods to HorizonClientSync
  horizon/api/v1/router/namespaces.py
  horizon_client/client/sync.py
  horizon_commons/schemas/v1/__init__.py
  horizon_commons/schemas/v1/hwm.py
  horizon_commons/schemas/v1/namespace.py
  tests/fixtures/async_session.py
  tests/test_backend/test_hwm/test_write_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_delete_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_get_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_write_hwm.py
  tests/test_client_sync/test_namespaces/test_client_sync_create_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_delete_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_get_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespaces.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
Due: flake8, mypy

[DOP-9664] Add HWMHistory-related methods to HorizonClientSync
  horizon/api/v1/router/namespaces.py
  horizon_client/client/sync.py
  horizon_commons/schemas/v1/__init__.py
  horizon_commons/schemas/v1/hwm_history.py
  tests/test_client_sync/test_hwm/test_client_sync_get_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm_history.py
  tests/test_client_sync/test_namespaces/test_client_sync_get_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespaces.py
Due: flake8, mypy

[DOP-10544] Implement Unit of Work
  horizon/api/v1/router/namespaces.py
  horizon/api/v1/router/service.py
  horizon/db/factory.py
  horizon/db/repositories/base.py
  horizon/providers/auth/dummy.py
  poetry.lock
Due: flake8, mypy

[DOP-10544] Move UoW from app.v1 to services
  horizon/api/v1/router/namespaces.py
  horizon/dependencies/__init__.py
  horizon/providers/auth/base.py
  horizon/providers/auth/dummy.py
  horizon/services/__init__.py
  horizon/services/current_user.py
  horizon/services/uow.py
  poetry.lock
Due: flake8, mypy

[DOP-9666] Drop polyfactory
  poetry.lock
  pyproject.toml
  tests/factories/base.py
  tests/factories/hwm.py
  tests/factories/hwm_history.py
  tests/factories/namespace.py
  tests/factories/user.py
Due: mypy

[DOP-9666] Move client test to separate CI job
  tests/test_database/test_migrations.py
Due: mypy

[DOP-9666] Move client test to separate CI job
  .gitlab-ci.yml
  Makefile
  docker/Dockerfile.backend
  docker/Dockerfile.test
  poetry.lock
  pyproject.toml
  tests/fixtures/jwt.py
  tests/fixtures/sync_client.py
  tests/fixtures/test_app.py
  tests/test_backend/test_auth/test_dummy_oauth.py
Due: mypy

[DOP-9689] Add Prometheus metrics endpoint
  docker/Dockerfile.backend
  docker/Dockerfile.test
  horizon/main.py
  horizon/middlewares/__init__.py
  horizon/middlewares/cors.py
  horizon/middlewares/prometheus.py
  horizon/settings/server.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-9686] Get rid of refresh_token
  .env.docker
  .env.local
  .gitlab-ci.yml
  horizon/backend/api/v1/router/auth.py
  horizon/backend/providers/auth/base.py
  horizon/backend/providers/auth/dummy.py
  horizon/backend/settings/__init__.py
  horizon/backend/settings/auth/__init__.py
  horizon/backend/settings/auth/jwt.py
  horizon/backend/settings/jwt.py
  horizon/backend/utils/jwt.py
  horizon/client/auth/__init__.py
  horizon/client/auth/login_password.py
  horizon/client/client/sync.py
  horizon/commons/schemas/v1/auth.py
  tests/fixtures/external_app.py
  tests/fixtures/jwt.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: flake8, mypy

[DOP-9686] Add AuthProvider-specific settings
  horizon/backend/db/factory.py
  horizon/backend/main.py
  horizon/backend/providers/auth/base.py
  horizon/backend/providers/auth/dummy.py
  horizon/backend/settings/__init__.py
  horizon/backend/settings/auth/__init__.py
  horizon/backend/settings/auth/dummy.py
  horizon/backend/settings/database.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-9686] Add LDAPAuthProvider
  .env.docker
  .env.local
  .gitlab-ci.yml
  Makefile
  docker-compose.test.yml
  docker/Dockerfile.ldap
  docker/mocks/ldap/bootstrap/config.ldif.TEMPLATE
  docker/mocks/ldap/bootstrap/data.ldif.TEMPLATE
  horizon/backend/db/repositories/user.py
  horizon/backend/providers/auth/dummy.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/settings/auth/ldap.py
  poetry.lock
  pyproject.toml
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
  tests/test_backend/test_hwm/test_write_hwm.py
  tests/test_backend/test_namespaces/test_update_namespace.py
Due: flake8, mypy

[DOP-9686] Replace ldap3 with bonsai
  .env.docker
  .env.local
  .gitlab-ci.yml
  docker/Dockerfile.backend
  docker/Dockerfile.test
  horizon/backend/main.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/settings/auth/ldap.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-10781] Allow setting up logging config
  .env.docker
  .env.local
  .gitlab-ci.yml
  Makefile
  horizon/backend/main.py
  horizon/backend/middlewares/logging.py
  horizon/backend/settings/auth/jwt.py
  horizon/backend/settings/auth/ldap.py
  horizon/backend/settings/database.py
  horizon/backend/settings/log/__init__.py
  horizon/backend/settings/log/colored.yml
  horizon/backend/settings/log/json.yml
  horizon/backend/settings/log/plain.yml
  horizon/backend/settings/server.py
  poetry.lock
  pyproject.toml
  tests/fixtures/async_engine.py
  tests/test_backend/test_hwm/test_write_hwm.py
  tests/test_backend/test_namespaces/test_update_namespace.py
Due: flake8, mypy

[DOP-10788] Fix coverage report
  .coveragerc
  pyproject.toml
Due: none

[DOP-10790] Add /v1/users/me endpoint
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/users.py
  horizon/backend/utils/jwt.py
  horizon/client/auth/access_token.py
  horizon/client/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/user.py
  tests/fixtures/external_app.py
  tests/fixtures/jwt.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
  tests/test_backend/test_ping.py
  tests/test_backend/test_users/test_whoami.py
  tests/test_client/test_auth/test_access_token.py
  tests/test_client_sync/test_auth/test_client_sync_auth.py
  tests/test_client_sync/test_client_sync_ping.py
  tests/test_client_sync/test_users/test_client_sync_whoami.py
Due: flake8, mypy

[DOP-10780] Add X-Request-ID to logs and backend responses
  horizon/backend/api/handlers.py
  horizon/backend/main.py
  horizon/backend/middlewares/prometheus.py
  horizon/backend/middlewares/request_id.py
  horizon/backend/settings/log/colored.yml
  horizon/backend/settings/log/json.yml
  horizon/backend/settings/log/plain.yml
  horizon/backend/settings/server.py
  horizon/client/client/base.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-10628] Add simple wrapper scripts to run migrations & server
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Makefile
  docker-compose.yml
  docker/entrypoint.sh
  horizon/backend/__init__.py
  horizon/backend/__main__.py
  horizon/backend/db/migrations/__main__.py
  horizon/backend/db/migrations/env.py
  horizon/backend/main.py
  pyproject.toml
  tests/fixtures/test_app.py
Due: flake8, mypy

[DOP-10628] Improve settings
  .env.docker
  .env.local
  .gitlab-ci.yml
  horizon/backend/__init__.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/providers/auth/dummy.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/settings/__init__.py
  horizon/backend/settings/auth/__init__.py
  horizon/backend/settings/auth/jwt.py
  tests/fixtures/jwt.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
Due: flake8, mypy

[DOP-10628] Add Changelog & contribution guide
  CONTRIBUTING.rst
  Makefile
  docs/changelog/DRAFT.rst
  docs/changelog/NEXT_RELEASE.rst
  docs/changelog/index.rst
  docs/changelog/next_release/.keep
  docs/changelog/next_release/DOP-9693.feature.rst
  docs/conf.py
  docs/contributing.rst
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: mypy

[DOP-10628] Test Pages URL
  .gitlab-ci.yml
Due: none

[DOP-10628] Add develop docs environment
  .gitlab-ci.yml
Due: none

[DOP-10928] Add test for unavailable LDAP
  .env.docker
  .env.local
  .gitlab-ci.yml
  docker-compose.test.yml
  docs/client/exceptions.rst
  horizon/backend/__init__.py
  horizon/backend/api/handlers.py
  horizon/backend/middlewares/logging.py
  horizon/backend/providers/auth/dummy.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/settings/auth/ldap.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/exceptions/service.py
  poetry.lock
  pyproject.toml
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
Due: flake8, mypy

[DOP-10626] Add /metrics/stats endpoint
  horizon/backend/__init__.py
  horizon/backend/api/monitoring.py
  horizon/backend/api/v1/router/auth.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/users.py
  horizon/backend/db/repositories/base.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/user.py
  horizon/backend/middlewares/prometheus.py
  horizon/backend/middlewares/prometheus/__init__.py
  horizon/backend/middlewares/prometheus/metrics.py
  horizon/backend/middlewares/prometheus/stats.py
  horizon/backend/settings/server.py
  horizon/backend/utils/slug.py
  tests/factories/user.py
  tests/test_backend/test_monitoring/test_ping.py
  tests/test_backend/test_monitoring/test_stats.py
Due: flake8, mypy

[DOP-10928] Add LDAPCachedAuthProvider
  docs/backend/auth/cached_ldap.rst
  docs/backend/auth/index.rst
  docs/backend/auth/ldap.rst
  docs/client/auth.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/auth.py
  horizon/backend/db/migrations/versions/2023-11-24_dfce9f35c00e_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/credentials_cache.py
  horizon/backend/db/repositories/__init__.py
  horizon/backend/db/repositories/base.py
  horizon/backend/db/repositories/credentials_cache.py
  horizon/backend/providers/auth/base.py
  horizon/backend/providers/auth/cached_ldap.py
  horizon/backend/providers/auth/dummy.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/services/uow.py
  horizon/backend/settings/auth/cached_ldap.py
  horizon/backend/settings/auth/ldap.py
  horizon/client/auth/login_password.py
  horizon/client/sync.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/factories/credentials_cache.py
  tests/factories/user.py
  tests/fixtures/settings.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: flake8, mypy

[DOP-10928] Get rid of credentials cache cleanup settings
  horizon/backend/settings/auth/cached_ldap.py
Due: flake8, mypy

[DOP-10928] Fix CachedLDAPAuthProvider class name
  docs/backend/auth/cached_ldap.rst
  horizon/backend/providers/auth/cached_ldap.py
  horizon/backend/settings/auth/cached_ldap.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
Due: flake8, mypy

[DOP-10928] Add interaction schema for Auth Providers
  docker/Dockerfile.test
  docs/backend/auth/cached_ldap.rst
  docs/backend/auth/dummy.rst
  docs/backend/auth/ldap.rst
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy

[DOP-10928] Fix connection pool become broken if LDAP is unavailable
  horizon/backend/providers/auth/cached_ldap.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/settings/auth/cached_ldap.py
  horizon/backend/settings/auth/ldap.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
Due: flake8, mypy

[DOP-10928] Fix credentials cache never expire
  .gitlab-ci.yml
  horizon/backend/providers/auth/cached_ldap.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/settings/auth/ldap.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
Due: flake8, mypy

[DOP-10928] Test LDAP connection is restored
  .gitlab-ci.yml
  Makefile
  docker-compose.test.yml
  docker/Dockerfile.ldap
  docker/mocks/ldap/bootstrap/config.ldif.TEMPLATE
  docker/mocks/ldap/bootstrap/data.ldif.TEMPLATE
  docs/backend/auth/ldap.rst
  horizon/backend/providers/auth/ldap.py
  horizon/backend/settings/auth/ldap.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
Due: flake8, mypy

Path conditions:
  flake8: any of: ^(horizon)/.*$ and \.py$
  mypy: any of: \.py$
