Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy ./horizon/app --config-file ./pyproject.toml
  language: python
  require_serial: true
  pass_filenames: false

[DOP-13013] - move partially logic for getting permissions in api
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/repositories/namespace.py
Due: flake8, mypy

[DOP-13013] - add NamespaceUserRoleStr enum class
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/exceptions/permission.py
  horizon/commons/schemas/v1/permission.py
  tests/factories/permissions.py
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_get_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: flake8, mypy

[DOP-13013] - add changelog
  docs/changelog/next_release/29.feature.rst
Due: none

[DOP-13013] - add tests for sync client
  tests/test_client_sync/test_permissions/test_client_sync_get_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: mypy

[DOP-13013] - add methods to sync_client
  docs/client/schemas/index.rst
  docs/client/schemas/permissions.rst
  docs/client/sync.rst
  horizon/client/sync.py
Due: flake8, mypy

[DOP-13013] - restrict owner to change his role without reassigning
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/repositories/namespace.py
Due: flake8, mypy

[DOP-13013] - add update_permissions tests
  horizon/backend/db/repositories/namespace.py
  tests/factories/permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

[DOP-13014] - update logic for updating permissions
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/user.py
  horizon/client/sync.py
  horizon/commons/exceptions/permission.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/permission.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

[DOP-13014] - update tests
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/schemas/v1/permission.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: flake8, mypy

[DOP-13014] - add test for unknown_user
  tests/test_backend/test_permissions/test_update_permissions.py
Due: mypy

[DOP-13013] - implement API to interact with namespace permissions (#29)
  docs/changelog/next_release/29.feature.rst
  docs/client/exceptions.rst
  docs/client/schemas/index.rst
  docs/client/schemas/permissions.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/user.py
  horizon/client/sync.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/bad_request.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/exceptions/bad_request.py
  horizon/commons/exceptions/permission.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/permission.py
  tests/conftest.py
  tests/factories/permissions.py
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_get_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: flake8, mypy

[DOP-13779] Fix tests CI caching
  .github/workflows/test.yml
Due: none

[DOP-13779] Fix tests dependencies
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

[DOP-13012] Populate user roles based on change history
  horizon/backend/db/migrations/versions/2024-03-01_4c60578f3f1d_.py
Due: flake8, mypy

[DOP-13012] Move permissions check to endpoints
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/migrations/versions/2024-03-01_4c60578f3f1d_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_user.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/dto/__init__.py
  horizon/commons/dto/role.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/permission.py
  tests/factories/permissions.py
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_get_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: flake8, mypy

[DOP-13012] Update coverage CI config
  .github/workflows/test.yml
Due: none

Update blacken-docs
  .pre-commit-config.yaml
Due: none

[DOP-13779] Add robots.txt to documentation
  docs/conf.py
  docs/robots.txt
Due: mypy

[DOP-13779] Update robots.txt
  docs/robots.txt
Due: none

[DOP-13024] - update docs & tests
  docs/backend/scripts/index.rst
  docs/backend/scripts/manage_admins.rst
  docs/conf.py
  docs/design/permissions.rst
  docs/index.rst
  horizon/backend/scripts/manage_admins.py
  tests/factories/user.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

[DOP-13024] - add is_admin migration & script for managing admins
  .pre-commit-config.yaml
  horizon/backend/db/migrations/versions/2024-03-18_ec64f7b42221_.py
  horizon/backend/db/models/user.py
  horizon/backend/scripts/manage_admins.py
Due: flake8, mypy

[DOP-13024] - add documentation
  docs/changelog/0.0.10.rst
  docs/changelog/0.0.12.rst
  docs/changelog/0.0.8.rst
  docs/changelog/0.0.9.rst
  docs/changelog/next_release/24.feature.rst
  docs/changelog/next_release/31.feature.rst
  docs/changelog/next_release/36.feature.rst
  docs/design/permissions.rst
  horizon/backend/api/v1/router/users.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

[DOP-13024] - add is_admin to whoami response
  docs/client/schemas/user.rst
  horizon/backend/api/v1/router/users.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/user.py
  tests/factories/user.py
  tests/test_backend/test_users/test_whoami.py
  tests/test_client_sync/test_users/test_client_sync_whoami.py
Due: flake8, mypy

[DOP-13024] - update dependencies
  poetry.lock
  pyproject.toml
Due: none

[DOP-13024] - allow any actions to superadmin role
  horizon/backend/db/models/namespace.py
  horizon/backend/db/repositories/namespace.py
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

[DOP-13024] - update manage_admins script & its documentation
  docs/backend/scripts/manage_admins.rst
  docs/design/permissions.rst
  horizon/backend/scripts/manage_admins.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

[DOP-13024] - add type ignore for import
  horizon/backend/middlewares/logging.py
Due: flake8, mypy

[DOP-13024] - add logging to manage_admins
  horizon/backend/scripts/manage_admins.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

Update tests/test_database/test_manage_admins.py
  tests/test_database/test_manage_admins.py
Due: mypy

[DOP-13024] - add superadmin role (#36)
  .pre-commit-config.yaml
  docs/backend/scripts/index.rst
  docs/backend/scripts/manage_admins.rst
  docs/changelog/0.0.10.rst
  docs/changelog/0.0.12.rst
  docs/changelog/0.0.8.rst
  docs/changelog/0.0.9.rst
  docs/changelog/next_release/24.feature.rst
  docs/changelog/next_release/31.feature.rst
  docs/changelog/next_release/36.feature.rst
  docs/client/schemas/user.rst
  docs/conf.py
  docs/design/permissions.rst
  docs/index.rst
  horizon/backend/api/v1/router/users.py
  horizon/backend/db/migrations/versions/2024-03-18_ec64f7b42221_.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/user.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/middlewares/logging.py
  horizon/backend/scripts/manage_admins.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/user.py
  poetry.lock
  pyproject.toml
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_users/test_whoami.py
  tests/test_client_sync/test_users/test_client_sync_whoami.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

[DOP-13779] Add curl to Dockerfile
  docker/Dockerfile.backend
Due: none

[DOP-13013] Sort permissions list by role
  horizon/backend/db/repositories/namespace.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

[DOP-13020] - add bulk delete hwms endpoint
  docs/changelog/next_release/29.feature.rst
  docs/changelog/next_release/37.feature.rst
  docs/client/schemas/hwm.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
  tests/test_backend/test_hwm/test_bulk_delete_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_bulk_delete_hwms.py
  tests/test_client_sync/test_hwm/test_client_sync_delete_hwm.py
Due: flake8, mypy

[DOP-13020] - remove missing hwm check
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
  horizon/client/sync.py
  tests/test_backend/test_hwm/test_bulk_delete_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_bulk_delete_hwms.py
Due: flake8, mypy

[DOP-13020] - add bulk delete hwms endpoint (#37)
  docs/changelog/next_release/29.feature.rst
  docs/changelog/next_release/37.feature.rst
  docs/client/schemas/hwm.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
  tests/test_backend/test_hwm/test_bulk_delete_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_bulk_delete_hwms.py
  tests/test_client_sync/test_hwm/test_client_sync_delete_hwm.py
Due: flake8, mypy

[DOP-13013] Return actual permissions in update_permissions
  horizon/backend/api/v1/router/permission.py
  horizon/client/sync.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

Path conditions:
  flake8: any of: ^(horizon)/.*$ and \.py$
  mypy: any of: \.py$
