Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy ./horizon/app --config-file ./pyproject.toml
  language: python
  require_serial: true
  pass_filenames: false

Update logo
  docs/_static/logo.svg
  docs/_static/logo_no_title.svg
  docs/_static/redoc.html
  docs/_static/swagger.html
  docs/conf.py
Due: mypy

Add Entities section to documentation
  README.rst
  docs/backend/scripts/index.rst
  docs/backend/scripts/manage_admins.rst
  docs/design/entities.rst
  docs/design/permissions.rst
  docs/index.rst
Due: none

[DOP-13021] - add copy hwms tests
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/repositories/hwm.py
  tests/test_backend/test_hwm/test_copy_hmw.py
Due: flake8, mypy

[DOP-13021] - add copy_hwms client tests
  docs/changelog/next_release/42.feature.rst
  tests/test_backend/test_hwm/test_copy_hmws.py
  tests/test_client_sync/test_hwm/test_client_sync_bulk_delete_hwms.py
  tests/test_client_sync/test_hwm/test_client_sync_copy_hwms.py
Due: mypy

[DOP-13021] - add copy_hwms client method
  docs/client/schemas/hwm.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
Due: flake8, mypy

[DOP-13021] - add copy schema
  docs/client/schemas/hwm.rst
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
Due: flake8, mypy

[DOP-13021] - add copy API method
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/repositories/hwm.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
Due: flake8, mypy

[DOP-13021] - add namespace existence check
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/repositories/hwm.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/hwm.py
  tests/test_backend/test_hwm/test_copy_hmws.py
Due: flake8, mypy

[DOP-13021] - add namespace existence check
  tests/test_client_sync/test_hwm/test_client_sync_copy_hwms.py
Due: mypy

[DOP-13021] - add copy_hwms_with_existing_hwm_name test
  horizon/backend/db/repositories/hwm.py
  tests/test_backend/test_hwm/test_copy_hmws.py
Due: flake8, mypy

[DOP-13021] - add hwm_history_items_for_hwms fixture
  tests/factories/hwm_history.py
  tests/test_backend/test_hwm/test_copy_hmws.py
Due: mypy

[DOP-13021] - update tests
  tests/factories/hwm_history.py
  tests/test_backend/test_hwm/test_copy_hmws.py
Due: mypy

[DOP-13021] - update namings
  docs/client/schemas/hwm.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
  tests/factories/hwm_history.py
  tests/test_backend/test_hwm/test_copy_hmws.py
  tests/test_client_sync/test_hwm/test_client_sync_copy_hwms.py
Due: flake8, mypy

[DOP-13021] - add copy hwms endpoint (#42)
  docs/changelog/next_release/42.feature.rst
  docs/client/schemas/hwm.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/repositories/hwm.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
  tests/factories/hwm_history.py
  tests/test_backend/test_hwm/test_copy_hmws.py
  tests/test_client_sync/test_hwm/test_client_sync_bulk_delete_hwms.py
  tests/test_client_sync/test_hwm/test_client_sync_copy_hwms.py
Due: flake8, mypy

[DOP-13020] - add bulk delete hwms endpoint (#37)
  docs/changelog/next_release/29.feature.rst
  docs/changelog/next_release/37.feature.rst
  docs/client/schemas/hwm.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
  tests/test_backend/test_hwm/test_bulk_delete_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_bulk_delete_hwms.py
  tests/test_client_sync/test_hwm/test_client_sync_delete_hwm.py
Due: flake8, mypy

[DOP-13156] Fix documentation build
  .readthedocs.yaml
Due: none

[DOP-11876] - change documentation style to furo (#13)
  docs/_templates/versions.html
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy

[DOP-13260] Automatically update Dockerhub image description
  .github/workflows/docker-image.yml
Due: none

[DOP-13219] Improve documentation
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
  docs/backend/configuration/debug.rst
  docs/backend/install.rst
  docs/changelog/next_release/20.improvement.rst
  docs/client/install.rst
  docs/client/sync.rst
  docs/conf.py
  horizon/backend/settings/server/log/__init__.py
  horizon/client/auth/access_token.py
  horizon/client/auth/login_password.py
  horizon/client/sync.py
  horizon/commons/exceptions/auth.py
  horizon/commons/exceptions/entity.py
  horizon/commons/exceptions/service.py
Due: flake8, mypy

[DOP-13013] Sort permissions list by role
  horizon/backend/db/repositories/namespace.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

Prepare for release
  .DS_Store
  docs/changelog/0.1.0.rst
  docs/changelog/index.rst
  docs/changelog/next_release/20.improvement.rst
  docs/changelog/next_release/24.feature.rst
  docs/changelog/next_release/25.feature.rst
  docs/changelog/next_release/26.feature.rst
  docs/changelog/next_release/27.breaking.rst
  docs/changelog/next_release/29.feature.rst
  docs/changelog/next_release/31.feature.rst
  docs/changelog/next_release/36.feature.rst
  docs/changelog/next_release/37.feature.rst
  docs/changelog/next_release/42.feature.rst
  horizon/backend/db/.DS_Store
Due: none

Update blacken-docs
  .pre-commit-config.yaml
Due: none

[DOP-11595] Fix client documentation
  docs/client/sync.rst
Due: none

[DOP-11679] Fix docker badge
  README.rst
Due: none

[DOP-13779] Add robots.txt to documentation
  docs/conf.py
  docs/robots.txt
Due: mypy

[DOP-13779] Update robots.txt
  docs/robots.txt
Due: none

[DOP-11679] Fix badges
  .github/workflows/image-release.yml
  .github/workflows/release.yml
  README.rst
Due: none

[DOP-13010] - add owner_id to namespace, namespace_history (#26)
  docs/changelog/next_release/26.feature.rst
  horizon/backend/db/migrations/versions/2024-02-29_09be8fd79dbc_.py
  horizon/backend/db/mixins/changed_by.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_history.py
  horizon/backend/db/repositories/namespace.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/namespace_history.py
  pyproject.toml
  tests/factories/namespace.py
  tests/factories/namespace_history.py
  tests/factories/user.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_get_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_client_sync/test_namespaces/test_client_sync_create_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_get_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace_history.py
  tests/test_client_sync/test_namespaces/test_client_sync_update_namespace.py
Due: flake8, mypy

[DOP-11679] - fix docker image badge & bump version
  README.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-13019] - restrict deletion namespaces with hwms (#25)
  docs/changelog/next_release/25.feature.rst
  horizon/backend/api/v1/router/namespaces.py
  tests/factories/hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
Due: flake8, mypy

[DOP-13779] Add curl to Dockerfile
  docker/Dockerfile.backend
Due: none

[DOP-13015] - update hwm_history table for CRUD operations (#21)
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/db/migrations/versions/2024-02-22_c2d6da81f9ec_.py
  horizon/backend/db/models/hwm.py
  horizon/backend/db/models/hwm_history.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/hwm_history.py
  horizon/commons/schemas/v1/hwm_history.py
  tests/factories/hwm.py
  tests/factories/hwm_history.py
  tests/factories/namespace.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm_history.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_paginate_hwm_history.py
Due: flake8, mypy

[DOP-13209] Add pre-commit.ci badge to Readme
  README.rst
Due: none

[DOP-13013] - implement API to interact with namespace permissions (#29)
  docs/changelog/next_release/29.feature.rst
  docs/client/exceptions.rst
  docs/client/schemas/index.rst
  docs/client/schemas/permissions.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/permission.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/user.py
  horizon/client/sync.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/bad_request.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/exceptions/bad_request.py
  horizon/commons/exceptions/permission.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/permission.py
  tests/conftest.py
  tests/factories/permissions.py
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_get_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: flake8, mypy

[DOP-11877] Check new Dockerhub token
  .github/workflows/docker-image.yml
  .github/workflows/repo-labels-sync.yml
Due: none

[DOP-13156] Update CONTRIBUTING docs
  CONTRIBUTING.rst
Due: none

[DOP-13016] - add namespace_history table and its api methods (#24)
  docs/changelog/next_release/24.feature.rst
  docs/client/schemas/index.rst
  docs/client/schemas/namespace_history.rst
  docs/client/sync.rst
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/namespace_history.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/migrations/versions/2024-02-27_2452f82ae06c_.py
  horizon/backend/db/migrations/versions/2024-02-27_5c7a5c5a193b_.py
  horizon/backend/db/mixins/deletable.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_history.py
  horizon/backend/db/models/user.py
  horizon/backend/db/repositories/__init__.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/db/repositories/namespace_history.py
  horizon/backend/db/repositories/user.py
  horizon/backend/services/uow.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/namespace_history.py
  pyproject.toml
  tests/conftest.py
  tests/factories/namespace.py
  tests/factories/namespace_history.py
  tests/factories/user.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_get_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace.py
  tests/test_client_sync/test_namespaces/test_client_sync_paginate_namespace_history.py
Due: flake8, mypy

[DOP-13779] Fix tests dependencies
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  flake8: any of: ^(horizon)/.*$ and \.py$
  mypy: any of: \.py$
