Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
        types: [python]
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: text-unicode-replacement-char

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: forbid-tabs
      - id: remove-tabs
        args: [--whitespaces-count, '2']
      - id: chmod
        args: ['644']
        exclude_types: [shell]
      - id: chmod
        args: ['755']
        types: [shell]
      - id: insert-license
        files: horizon/app/.*\.py$
        exclude: horizon/app/dependencies/stub.py
        args:
          - --license-filepath
          - .spdx-license-header.txt
          - --use-current-year
          - --no-extra-eol

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]

  - repo: https://github.com/pycqa/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args: [--in-place]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --aggregate=file
          - -iii
          - -ll
        require_serial: true

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort

  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.10.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, '2', --offset, '2']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [-w]
        additional_dependencies:
          - tomli

  - repo: https://github.com/sbrunner/hooks
    rev: 0.5.0
    hooks:
      - id: poetry-check
        additional_dependencies:
          - poetry
      - id: poetry-lock
        additional_dependencies:
          - poetry

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        files: ^(horizon)/.*$
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy ./horizon/app --config-file ./pyproject.toml
        language: python
        types: [python]
        require_serial: true
        pass_filenames: false

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

[DOP-11096] Add version headers to backend & client
  docs/backend/configuration/debug.rst
  horizon/__init__.py
  horizon/backend/middlewares/__init__.py
  horizon/backend/middlewares/application_version.py
  horizon/backend/settings/server/__init__.py
  horizon/backend/settings/server/application_version.py
  horizon/client/base.py
  horizon/client/sync.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-11121] Fix static files middleware is messing up with openapi_url
  horizon/backend/middlewares/static_files.py
Due: flake8, mypy

[DOP-11121] Increase HWM name max length
  horizon/backend/db/migrations/versions/2023-12-23_4bc3fffc0209_.py
  horizon/backend/db/models/hwm.py
  horizon/backend/db/models/hwm_history.py
  horizon/commons/schemas/v1/hwm.py
  horizon/commons/schemas/v1/namespace.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespaces/test_create_namespace.py
  tests/test_backend/test_namespaces/test_update_namespace.py
Due: flake8, mypy

[DOP-11121] Print HTTP reponse body in exception message
  horizon/client/base.py
Due: flake8, mypy

[DOP-11121] Fix server debug documentation example
  docs/backend/configuration/debug.rst
Due: none

[DOP-11121] - update develop version to 0.0.8
  pyproject.toml
Due: none

[DOP-11121] - update develop version to 0.0.8
  docs/conf.py
  horizon/__init__.py
Due: flake8, mypy

[DOP-12457] Remove licence header from docs/conf.py
  .pre-commit-config.yaml
  docs/conf.py
Due: mypy

[DOP-12457] Remove pre-commit hooks
  .pre-commit-config.yaml
Due: none

[DOP-12026] Typing improvements
  CONTRIBUTING.rst
  horizon/client/auth/__init__.py
  horizon/commons/dto/__init__.py
  horizon/commons/errors/__init__.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/schemas/__init__.py
  horizon/commons/schemas/v1/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-11454] Use latest package versions on Python 3.11
  horizon/backend/__init__.py
  horizon/backend/api/handlers.py
  horizon/backend/middlewares/openapi.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-12454] - add retry_config to HorizonClientSync
  docs/backend/install.rst
  docs/changelog/next_release/DOP-12454.feature.rst
  docs/client/sync.rst
  horizon/client/sync.py
  poetry.lock
  pyproject.toml
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: flake8, mypy

[DOP-11454] Update starlette-exporter & uvicorn
  poetry.lock
Due: none

[DOP-11538] Add backend architecture to docs
  docs/backend/architecture.rst
  docs/index.rst
Due: none

[DOP-12545] - add request_timeout, connection_timeout to sync client
  docs/changelog/next_release/DOP-12545.feature.rst
  docs/client/sync.rst
  horizon/client/sync.py
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: flake8, mypy

[DOP-11538] Prepare for next release
  CONTRIBUTING.rst
  docs/changelog/0.0.8.rst
  docs/changelog/NEXT_RELEASE.rst
  docs/changelog/index.rst
  docs/changelog/next_release/DOP-12454.feature.rst
  docs/changelog/next_release/DOP-12545.feature.rst
  docs/changelog/next_release/DOP-9693.feature.rst
Due: none

[DOP-11538] Fix flaky test
  CONTRIBUTING.rst
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: mypy

[DOP-11538] Fix exception types in tests
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: mypy

[DOP-11538] Retry failed CI jobs
  .gitlab-ci.yml
Due: none

[DOP-11538] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-11454] Lock uvicorn version
  poetry.lock
  pyproject.toml
Due: none

[DOP-11454] Update changelog
  docs/changelog/0.0.9.rst
  docs/changelog/index.rst
Due: none

[DOP-11454] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-11538] Fix flaky test
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: mypy

[DOP-11454] Add note about uvicorn version lock
  pyproject.toml
Due: none

[DOP-11454] Update starlette-exporter and uvicorn
  docs/changelog/0.0.10.rst
  docs/changelog/index.rst
  poetry.lock
  pyproject.toml
Due: none

[DOP-11454] Bump version
  docs/changelog/0.0.10.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-12545] Fix docs
  horizon/client/sync.py
Due: flake8, mypy

[DOP-11454] Remove starlette from client-sync requirements
  docs/changelog/0.0.11.rst
  docs/changelog/index.rst
  poetry.lock
  pyproject.toml
Due: none

[DOP-11454] Update Readme
  README.rst
Due: none

[DOP-11454] Retry failing tests
  poetry.lock
  pyproject.toml
Due: none

[DOP-11454] Update docs
  horizon/backend/settings/server/log/__init__.py
Due: flake8, mypy

[DOP-11454] Update docs
  docs/client/sync.rst
  horizon/client/sync.py
Due: flake8, mypy

[DOP-11538] Make backoff_jitter optional
  docker/Dockerfile.test
  docs/changelog/0.0.10.rst
  docs/changelog/0.0.11.rst
  docs/changelog/0.0.12.rst
  docs/changelog/0.0.8.rst
  docs/changelog/0.0.9.rst
  horizon/client/sync.py
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: flake8, mypy

[DOP-11538] Make backoff_jitter optional
  docker/Dockerfile.test
  tests/test_client_sync/test_auth/test_client_sync_auth.py
Due: mypy

[DOP-11538] Fix changelog
  docs/changelog/index.rst
Due: none

[DOP-11538] Bump version
  docs/changelog/index.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-11538] Update CI/CD
  .gitlab-ci.yml
Due: none
