Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

Path conditions:
  flake8: any of: ^horizon/.*$ and \.py$
  mypy: any of: \.py$

Add python 3.13 compatibility
  horizon/backend/api/handlers.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

Add python 3.13 compatibility
  .github/workflows/changelog.yml
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/changelog/next_release/94.improvement.rst
  pyproject.toml
Due: none

[DOP-23149] Update dev, test and docs dependencies
  horizon/client/base.py
  horizon/commons/errors/base.py
  horizon/commons/schemas/v1/pagination.py
  poetry.lock
  pyproject.toml
  tests/fixtures/test_client.py
Due: flake8, mypy

Fix ReadTheDocs build
  .readthedocs.yaml
Due: none

Do not automatically update license headers year
  .pre-commit-config.yaml
  LICENSE.txt
Due: none

Update poetry
  poetry.lock
  pyproject.toml
Due: none

[DOP-23149] Update python-multipart
  poetry.lock
  pyproject.toml
Due: none

[DOP-23149] Replace python-jose with authlib.jose
  docs/changelog/next_release/97.improvement.rst
  horizon/backend/settings/auth/jwt.py
  horizon/backend/utils/jwt.py
  horizon/client/auth/access_token.py
  poetry.lock
  pyproject.toml
  tests/test_client/test_auth/test_access_token.py
  tests/test_client_sync/test_hwm/test_client_sync_delete_hwm.py
  tests/test_client_sync/test_hwm/test_client_sync_get_hwm.py
Due: flake8, mypy

Use Python 3.13 in ReadTheDocs & CodeQL
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  docker/Dockerfile.backend
Due: none

[DOP-22129] Fix CI build
  .github/workflows/test.yml
Due: none

[DOP-22129] Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

[DOP-22129] Introduce poetry cache to Dockerfile
  docker/Dockerfile.backend
Due: none

[DOP-22129] Fix missing greenlet dependency
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

[DOP-22129] Bump dev and doc dependencies
  poetry.lock
  pyproject.toml
Due: none

[DOP-22129] Update release workflow
  .github/workflows/release.yml
Due: none

[DOP-22129] Prepare for release
  docs/changelog/1.0.3.rst
  docs/changelog/index.rst
  docs/changelog/next_release/94.improvement.rst
  docs/changelog/next_release/97.improvement.rst
Due: none

[DOP-22129] Bump version
  docs/changelog/1.1.1.rst
  docs/changelog/index.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-22129] Bump version
  Makefile
  docs/changelog/1.1.1.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-23743] All hardcoded passwords in this repo are used ONLY for tests
  .env.docker
  .env.local
  docker-compose.test.yml
  docker-compose.yml
Due: none

Fix resolving types-pyyaml for Python 3.7
  poetry.lock
  pyproject.toml
Due: none

Fix max dependency versions for Python 3.7
  poetry.lock
  pyproject.toml
Due: none

Bump some dependency versions
  poetry.lock
  pyproject.toml
Due: none

[DOP-22425] Update sphinxcontrib-towncrier
  poetry.lock
  pyproject.toml
Due: none

[DOP-24914] fix pre-commit config
  .pre-commit-config.yaml
Due: none

[DOP-24914] add config for codespell
  pyproject.toml
Due: none

[DOP-24914] fix tests
  horizon/backend/api/v1/router/auth.py
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/users.py
  horizon/backend/db/models/base.py
  horizon/backend/db/repositories/credentials_cache.py
  horizon/backend/db/repositories/hwm.py
  horizon/client/auth/access_token.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-24914] fix annotations
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/hwm_history.py
  horizon/backend/api/v1/router/namespace_history.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/users.py
  horizon/backend/middlewares/monitoring/stats.py
  horizon/backend/providers/auth/cached_ldap.py
  horizon/backend/providers/auth/dummy.py
  horizon/backend/providers/auth/ldap.py
  horizon/backend/services/current_user.py
  horizon/backend/services/uow.py
Due: flake8, mypy

[DOP-24914] fix annotations
  tests/fixtures/sync_client.py
Due: mypy

[DOP-24914] fix annotations
  horizon/backend/settings/auth/ldap.py
Due: flake8, mypy

[DOP-24914] fix annotations
  horizon/backend/providers/auth/ldap.py
Due: flake8, mypy
