Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy ./horizon/app --config-file ./pyproject.toml
  language: python
  require_serial: true
  pass_filenames: false

[DOP-15993] Prepare for release 1.0.0
  docs/changelog/1.0.0.rst
  docs/changelog/index.rst
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-15993] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

Update dependencies
  poetry.lock
Due: none

Fix CI
  .github/workflows/test.yml
Due: none

Add 'Last updated at' fields to build documentation
  .readthedocs.yaml
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy

Add 'Last updated at' fields to build documentation
  poetry.lock
  pyproject.toml
Due: none

Set minimal version of urllib3 to 1.26.0
  docs/changelog/1.0.1.rst
  docs/changelog/index.rst
  poetry.lock
  pyproject.toml
Due: none

Set minimal version of urllib3 to 1.26.0
  horizon/client/sync.py
Due: flake8, mypy

Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

Do not fix max bonsai version
  pyproject.toml
Due: none

Fix docker-compose .yml example
  docker-compose.test.yml
  docker-compose.yml
Due: none

Fix poetry.lock
  poetry.lock
Due: none

Fix failing pagination tests
  docker-compose.test.yml
  docker-compose.yml
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm_history.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
Due: mypy

Rename Horizon to Data.Horizon in Readme
  README.rst
Due: none

Fix documentation build
  poetry.lock
  pyproject.toml
Due: none

Fix documentation build
  poetry.lock
Due: none

Fix documentation build
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy

Fix documentation build
  pyproject.toml
Due: none

Temporary restrict updating towncrier in Dependbot
  .github/dependabot.yml
Due: none

[DOP-18948] Fix CI tests
  .github/workflows/test.yml
Due: none

Add PyPI downloads badge
  README.rst
  pyproject.toml
Due: none

Fix tests
  .github/workflows/test.yml
  docker-compose.test.yml
  docker-compose.yml
  docker/Dockerfile.backend
  horizon/__init__.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/repositories/__init__.py
  horizon/backend/dependencies/__init__.py
  horizon/backend/middlewares/monitoring/__init__.py
  horizon/backend/providers/auth/__init__.py
  horizon/backend/services/__init__.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/hwm.py
  horizon/commons/schemas/v1/namespace.py
  pyproject.toml
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

Fix tests
  horizon/commons/schemas/v1/hwm.py
  horizon/commons/schemas/v1/namespace.py
Due: flake8, mypy

Fix tests on Pydantic v1
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: mypy

Update codecov action
  .github/workflows/test.yml
Due: none

Fix client.update_namespace_permissions docstring
  horizon/client/sync.py
Due: flake8, mypy

[DOP-21631] Wrap raw HTTP exceptions in client with horizon exception classes
  docs/changelog/1.0.2.rst
  docs/changelog/index.rst
  horizon/client/base.py
  horizon/commons/errors/__init__.py
Due: flake8, mypy

[DOP-21631] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-22034] Disable X-REQUEST-ID validation warnings
  horizon/backend/middlewares/request_id.py
Due: flake8, mypy

Add python 3.13 compatibility
  .github/workflows/changelog.yml
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/changelog/next_release/94.improvement.rst
  pyproject.toml
Due: none

Path conditions:
  flake8: any of: ^(horizon)/.*$ and \.py$
  mypy: any of: \.py$
