Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

flake8:
  name: flake8
  entry: flake8
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy ./horizon/app --config-file ./pyproject.toml
  language: python
  require_serial: true
  pass_filenames: false

[DOP-14540] Improve manage_admins script logging
  docs/changelog/next_release/46.improvement.rst
  horizon/backend/scripts/manage_admins.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

[DOP-14540] Allow Docker entrypoint to automatically create SUPERADMIN users
  docker-compose.yml
  docker/entrypoint.sh
  docs/backend/install.rst
  docs/backend/scripts/index.rst
  docs/changelog/next_release/45.feature.rst
Due: none

[DOP-14540] Fix Pydantic v2 warnings
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/changelog/next_release/47.improvement.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/users.py
  horizon/client/base.py
  horizon/commons/errors/base.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/invalid_request.py
  horizon/commons/schemas/v1/hwm.py
  horizon/commons/schemas/v1/hwm_history.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/namespace_history.py
  horizon/commons/schemas/v1/pagination.py
  horizon/commons/schemas/v1/permission.py
  horizon/commons/schemas/v1/user.py
  pyproject.toml
  tests/test_backend/test_hwm/test_copy_hmws.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

[DOP-14540] Prepare for release
  docs/changelog/0.1.2.rst
  docs/changelog/index.rst
  docs/changelog/next_release/45.feature.rst
  docs/changelog/next_release/46.improvement.rst
  docs/changelog/next_release/47.improvement.rst
Due: none

[DOP-14540] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

Fix SwaggerUI and ReDoc settings examples
  horizon/backend/settings/server/openapi.py
Due: flake8, mypy

[DOP-15023] Remove .DS_Store files
  .DS_Store
  .gitignore
  horizon/backend/db/.DS_Store
Due: none

[DOP-14025] Properly handle SIGTERM signals in entrypoint
  docker/entrypoint.sh
  docker/wait-for-it.sh
  docs/changelog/next_release/+.improvement.rst
Due: none

[DOP-14025] Collect failing backend logs in CI
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

[DOP-14025] Fix backend entrypoint
  .github/workflows/cache-cleanup.yml
  .github/workflows/docker-image.yml
  .github/workflows/test.yml
  docker-compose.yml
  docker/entrypoint.sh
Due: none

[DOP-15564] Add trailing commas to Python code
  .pre-commit-config.yaml
  docs/conf.py
  tests/factories/permissions.py
  tests/factories/user.py
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
  tests/test_backend/test_hwm/test_bulk_delete_hwm.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm_history.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_client_sync/test_auth/test_client_sync_auth.py
  tests/test_client_sync/test_namespaces/test_client_sync_create_namespace.py
  tests/test_client_sync/test_permissions/test_client_sync_get_permissions.py
  tests/test_client_sync/test_permissions/test_client_sync_update_permsisions.py
Due: mypy

[DOP-15564] Update FastAPI & pydantic
  .pre-commit-config.yaml
  horizon/commons/errors/schemas/invalid_request.py
  poetry.lock
  pyproject.toml
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
  tests/test_backend/test_hwm/test_copy_hmws.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm.py
  tests/test_backend/test_hwm/test_paginate_hwm_history.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_create_namespace.py
  tests/test_backend/test_namespace/test_paginate_namespace_history.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

[DOP-15564] Use the same asyncio loop for app & tests
  poetry.lock
  pyproject.toml
  tests/fixtures/event_loop.py
Due: mypy

[DOP-15564] Update bonsai pool closing
  horizon/backend/providers/auth/ldap.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy

[DOP-15564] Prepare for release
  docs/changelog/0.1.3.rst
  docs/changelog/index.rst
  docs/changelog/next_release/+.improvement.rst
Due: none

[DOP-15564] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-15564] Fix NamespaceHistory schema docs
  docs/client/schemas/namespace_history.rst
Due: none

[DOP-15564] Fix BadRequestError documentation
  docs/client/exceptions.rst
  horizon/client/sync.py
Due: flake8, mypy

[DOP-15650] Apply timeout to LDAP connection pool
  docs/changelog/next_release/58.bugfix.rst
  horizon/backend/api/handlers.py
  horizon/backend/providers/auth/ldap.py
Due: flake8, mypy

[DOP-15650] Log unhandled error reason
  horizon/backend/api/handlers.py
Due: flake8, mypy

[DOP-15650] Catch TimeoutError while connecting to LDAP
  horizon/backend/providers/auth/ldap.py
Due: flake8, mypy

[DOP-15650] Allow using Horizon with multiple uvicorn workers
  docker-compose.yml
  docs/changelog/next_release/60.feature.rst
  horizon/backend/settings/server/log/colored.yml
  horizon/backend/settings/server/log/json.yml
  horizon/backend/settings/server/log/plain.yml
Due: none

[DOP-15650] Rename permissions endpoint
  docs/changelog/next_release/61.breaking.rst
  docs/conf.py
  horizon/__init__.py
  horizon/backend/api/v1/router/__init__.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/permission.py
  horizon/backend/settings/server/monitoring.py
  horizon/client/sync.py
  pyproject.toml
  tests/test_backend/test_permissions/test_get_permissions.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

[DOP-15650] Fix response schema for invalid JSON
  horizon/commons/errors/schemas/invalid_request.py
Due: flake8, mypy

[DOP-15650] Prepare for release
  docs/changelog/0.2.0.rst
  docs/changelog/index.rst
  docs/changelog/next_release/58.bugfix.rst
  docs/changelog/next_release/60.feature.rst
  docs/changelog/next_release/61.breaking.rst
Due: none

[DOP-15650] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-16270] Fix pre-commit hooks errors
  tests/test_backend/test_auth/test_cached_ldap_auth.py
  tests/test_backend/test_auth/test_dummy_auth.py
  tests/test_backend/test_auth/test_ldap_auth.py
Due: mypy

[DOP-15993] Fix LDAP connection pool config example
  horizon/backend/settings/auth/cached_ldap.py
  horizon/backend/settings/auth/ldap.py
Due: flake8, mypy

[DOP-15993] Use UUIDv7 instead of UUIDv8
  horizon/backend/middlewares/request_id.py
Due: flake8, mypy

[DOP-15993] Update uvicorn to 0.30.0
  poetry.lock
Due: none

[DOP-15993] Update dependencies
  poetry.lock
Due: none

[DOP-15993] Prepare for release
  docs/changelog/0.2.1.rst
  docs/changelog/index.rst
Due: none

[DOP-15993] Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-15993] Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Path conditions:
  flake8: any of: ^(horizon)/.*$ and \.py$
  mypy: any of: \.py$
