Repository MobileTeleSystems/horizon: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
        types: [python]
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: text-unicode-replacement-char

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: forbid-tabs
      - id: remove-tabs
        args: [--whitespaces-count, '2']
      - id: chmod
        args: ['644']
        exclude_types: [shell]
      - id: chmod
        args: ['755']
        types: [shell]
      - id: insert-license
        files: horizon/app/.*\.py$
        exclude: horizon/app/dependencies/stub.py
        args:
          - --license-filepath
          - .spdx-license-header.txt
          - --use-current-year
          - --no-extra-eol

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]

  - repo: https://github.com/pycqa/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args: [--in-place]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --aggregate=file
          - -iii
          - -ll
        require_serial: true

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort

  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.10.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, '2', --offset, '2']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [-w]
        additional_dependencies:
          - tomli

  - repo: https://github.com/sbrunner/hooks
    rev: 0.5.0
    hooks:
      - id: poetry-check
        additional_dependencies:
          - poetry
      - id: poetry-lock
        additional_dependencies:
          - poetry

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        files: ^(horizon)/.*$
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy ./horizon/app --config-file ./pyproject.toml
        language: python
        types: [python]
        require_serial: true
        pass_filenames: false

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

[DOP-13014] - add Horizon role model docs (#31)
  README.rst
  docs/changelog/next_release/31.feature.rst
  docs/design/permissions.rst
  docs/index.rst
Due: none

[DOP-13012] Update coverage CI config
  .github/workflows/test.yml
Due: none

Add Entities section to documentation
  README.rst
  docs/backend/scripts/index.rst
  docs/backend/scripts/manage_admins.rst
  docs/design/entities.rst
  docs/design/permissions.rst
  docs/index.rst
Due: none

Fix automerge.yml
  .github/workflows/automerge.yml
Due: none

[DOP-11679] Fix docker image CI workflow name
  .github/workflows/docker-image.yml
Due: none

[DOP-3161] Fix documentation copyright
  docs/conf.py
  pyproject.toml
Due: mypy

[DOP-11877] Run Dependabot weekly
  .github/dependabot.yml
Due: none

[DOP-13156] Fix Contributing guide
  CONTRIBUTING.rst
Due: none

Collect test coverage for migrations
  pyproject.toml
Due: none

[DOP-13779] Fix tests CI caching
  .github/workflows/test.yml
Due: none

[DOP-13209] Add PyPI badge to Readme
  README.rst
Due: none

[DOP-13012] Populate user roles based on change history
  horizon/backend/db/migrations/versions/2024-03-01_4c60578f3f1d_.py
Due: flake8, mypy

[DOP-13013] Return actual permissions in update_permissions
  horizon/backend/api/v1/router/permission.py
  horizon/client/sync.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy

[DOP-13024] - add superadmin role (#36)
  .pre-commit-config.yaml
  docs/backend/scripts/index.rst
  docs/backend/scripts/manage_admins.rst
  docs/changelog/0.0.10.rst
  docs/changelog/0.0.12.rst
  docs/changelog/0.0.8.rst
  docs/changelog/0.0.9.rst
  docs/changelog/next_release/24.feature.rst
  docs/changelog/next_release/31.feature.rst
  docs/changelog/next_release/36.feature.rst
  docs/client/schemas/user.rst
  docs/conf.py
  docs/design/permissions.rst
  docs/index.rst
  horizon/backend/api/v1/router/users.py
  horizon/backend/db/migrations/versions/2024-03-18_ec64f7b42221_.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/user.py
  horizon/backend/db/repositories/namespace.py
  horizon/backend/middlewares/logging.py
  horizon/backend/scripts/manage_admins.py
  horizon/client/sync.py
  horizon/commons/schemas/v1/__init__.py
  horizon/commons/schemas/v1/user.py
  poetry.lock
  pyproject.toml
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
  tests/test_backend/test_users/test_whoami.py
  tests/test_client_sync/test_users/test_client_sync_whoami.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

[DOP-13012] - add role model to Horizon (#27)
  docs/changelog/next_release/27.breaking.rst
  docs/client/exceptions.rst
  docs/conf.py
  horizon/__init__.py
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/db/migrations/versions/2024-03-01_4c60578f3f1d_.py
  horizon/backend/db/models/__init__.py
  horizon/backend/db/models/namespace.py
  horizon/backend/db/models/namespace_user.py
  horizon/backend/db/repositories/hwm.py
  horizon/backend/db/repositories/namespace.py
  horizon/client/sync.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/permission_denied.py
  horizon/commons/exceptions/__init__.py
  horizon/commons/exceptions/permission.py
  pyproject.toml
  tests/factories/user.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_hwm/test_delete_hwm.py
  tests/test_backend/test_hwm/test_get_hwm.py
  tests/test_backend/test_hwm/test_update_hwm.py
  tests/test_backend/test_namespace/test_delete_namespace.py
  tests/test_backend/test_namespace/test_update_namespace.py
Due: flake8, mypy

[DOP-13209] Fix labels
  .github/labels.yml
Due: none

[DOP-13209] Add labels sync workflow
  .github/labels.yml
  .github/workflows/dev-release.yaml
  .github/workflows/release.yml
  .github/workflows/repo-labels-sync.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

[DOP-11877] - add github automation (#14)
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/changelog.yml
Due: none

[DOP-14482] - improve release notes
  docs/changelog/0.1.0.rst
Due: none

Update docs/changelog/0.1.0.rst
  docs/changelog/0.1.0.rst
Due: none

Bump version
  docs/conf.py
  horizon/__init__.py
  pyproject.toml
Due: flake8, mypy

[DOP-14482] - fix release pipline
  .github/workflows/release.yml
Due: none

[DOP-14482] - fix pydantic list ids validation
  horizon/commons/schemas/v1/hwm.py
Due: flake8, mypy

Fix CHANGELOG
  docs/changelog/0.1.1.rst
  docs/changelog/index.rst
Due: none

Fix README
  README.rst
Due: none

Move alembic.ini to backend/db/migrations
  horizon/backend/db/migrations/__main__.py
  horizon/backend/db/migrations/alembic.ini
  tests/fixtures/alembic.py
Due: flake8, mypy

Use .env.local variables in ReadTheDocs
  .readthedocs.yaml
Due: none

Fix ReadTheDocs build
  .readthedocs.yaml
Due: none

Fix plain log config
  horizon/backend/settings/server/log/plain.yml
Due: none

[DOP-14540] Allow Docker entrypoint to automatically create SUPERADMIN users
  docker-compose.yml
  docker/entrypoint.sh
  docs/backend/install.rst
  docs/backend/scripts/index.rst
  docs/changelog/next_release/45.feature.rst
Due: none

[DOP-14540] Improve manage_admins script logging
  docs/changelog/next_release/46.improvement.rst
  horizon/backend/scripts/manage_admins.py
  tests/test_database/test_manage_admins.py
Due: flake8, mypy

[DOP-14540] Fix Pydantic v2 warnings
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/changelog/next_release/47.improvement.rst
  horizon/backend/api/v1/router/hwm.py
  horizon/backend/api/v1/router/namespaces.py
  horizon/backend/api/v1/router/users.py
  horizon/client/base.py
  horizon/commons/errors/base.py
  horizon/commons/errors/schemas/__init__.py
  horizon/commons/errors/schemas/invalid_request.py
  horizon/commons/schemas/v1/hwm.py
  horizon/commons/schemas/v1/hwm_history.py
  horizon/commons/schemas/v1/namespace.py
  horizon/commons/schemas/v1/namespace_history.py
  horizon/commons/schemas/v1/pagination.py
  horizon/commons/schemas/v1/permission.py
  horizon/commons/schemas/v1/user.py
  pyproject.toml
  tests/test_backend/test_hwm/test_copy_hmws.py
  tests/test_backend/test_hwm/test_create_hwm.py
  tests/test_backend/test_permissions/test_update_permissions.py
Due: flake8, mypy
